<div data-role="page" data-dialog="true" data-close-btn-text="X" data-no-transition-cache>
  <!-- data-close-btn-text="X" Will this attribute show an X in IE8 -->
  <div data-role="header">
    <h2>Sign up</h2>
  </div><!-- /header -->

  <% flash[:alert] = 'Use an e-mail address outside of Swedish.org to ensure e-mail delivery.' %>
  <%= render 'layouts/flash_messages' %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div>
      <%= f.button "Sign up" %><!-- May need to revert for older browsers! -->
      <%# f.submit "Sign up" %>
    </div>
  <% end %>

  <div style="text-align:center; padding: .5em;">OR</div>

  <%= render "devise/shared/buttons" %>
</div>
