<div data-role="page">
  <% content_for :header_title, 'User Details' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_messages' %>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>

  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
  <% end %>
  <%= link_to 'Back', users_path %>

  <%= render 'layouts/footer' %>
</div>
