<%= form_tag("/patients", method: "post", class: 'new_patient form-horizontal', role: 'form') do %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lineitem_end">
    <div id="total" class="totalnumber blockFloatRight">0</div>
    <div class="totallabel blockFloatRight">Total Patients: </div>
  </div>

  <div class="field">
    <input type="hidden" name="hidden[raven]" value="true">
    <%= hidden_field_tag(:encountered_on, Date.today) %>
    <%= hidden_field(:encounter_types, :adult_medicine, value: "0") %>
    <%= hidden_field(:encounter_types, :icu, value: "0") %>
    <%= hidden_field(:encounter_types, :long_term_care, value: "0") %>
    <%= hidden_field(:encounter_types, :newborn, value: "0") %>
    <%= hidden_field(:encounter_types, :pediatric_inpatient, value: "0") %>
    <%= hidden_field(:encounter_types, :other, value: "0") %>
  </div>
  <div class="actions saveline">
    <%= submit_tag('Submit Patients', class: 'signUpBtnMid blockFloatRight') %>
  </div>
<% end %>
