<%= form_for(@patient, html: { class: 'new_patient form-horizontal', role: 'form' } ) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encounter_type %><br>
    <%= f.text_field :encounter_type %>
    <input type="hidden" name="adult_medicine" value="0">
    <input type="hidden" name="icu" value="0">
    <input type="hidden" name="long_term_care" value="0">
    <input type="hidden" name="newborn" value="0">
    <input type="hidden" name="pediatric_inpatient" value="0">
    <input type="hidden" name="other" value="0">
    <input type="hidden" name="day" value="2014-06-21">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
