<%= form_tag("/patients", method: "post", class: 'new_patient form-horizontal', role: 'form', data: {ajax: false}) do %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lineitem_end">
    <div id="total" class="totalnumber blockFloatRight">0</div>
    <div class="totallabel blockFloatRight">Total Patients: </div>
  </div>

  <div class="field">
    <input type="hidden" name="hidden[raven]" value="true">
    <%= hidden_field_tag(:encountered_on, Date.today) %>

    <% encounter_types = ['adult_inpatient_and_ed', 'adult_icu', 'pediatric_inpatient',
    'pediatric_newborn', 'pediatric_ed', 'continuity_inpatient', 'continuity_external'] %>
    <% encounter_types.each do |encounter_type| %>
      <%= hidden_field(:encounter_types, encounter_type.to_sym, value: "0") %>
    <% end %>
  </div>
  <div class="actions saveline">
    <%= submit_tag('Submit', class: 'signUpBtnMid blockFloatRight') %>
  </div>
<% end %>
