<div data-role="page" id="index" data-url="index" tabindex="0"
class="ui-page ui-page-theme-a ui-page-active">
  <div class="fullwidth">
    <div class="wrap_section_narrow_top">
      <div class="row">
        <div class="span_s">
          <div class="thumb_small">
            <%= image_tag 'swedish.jpg' %>
          </div>
        </div>
        <div id="topictitle" class="question">
          Patient Encounters
        </div>
      </div>
    </div>
  </div>

  <div class="wrap_section_narrow">
    <div class="spacer">
      <% flash.each do |name, msg| -%>
        <%= content_tag :p, msg, id: name, class: name %>
      <% end -%>
    </div>
  </div>

  <div class="wrap_section_narrow">
    <% if current_user %>
      <table data-role="table" id="patient_encounters_table" class="ui-responsive">
        <thead>
          <tr class="fullwidth">
            <th>Resident</th>
            <th>Type</th>
            <th>Encountered</th>
            <th>Submitted</th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
            <% if policy(patient).index? %>
              <tr class="lineitem fullwidth">
                <td><%= patient.user.present? ? patient.user.name : "Unknown" %></th>
                <td><%= patient.encounter_type %></td>
                <td><%= patient.encountered_on %></td>
                <td><%= patient.created_at.to_date %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="spacer">You must <%= link_to 'sign in', new_user_session_path %> to view this page.</div>
    <% end %>
    <br>
    <% if current_user %>
      <% if policy(@patients).create? %>
        <%= link_to 'Add Encounters', new_patient_path %> |
      <% end %>
      <%= link_to 'Sign Out', destroy_user_session_path(user_session), method: "delete" %>
    <% end %>
  </div>

  <div class="form-block">
  </div>
  <div class="spacer">
  </div>
</div>



