<div data-role="page" id="index" data-url="index" tabindex="0"
class="ui-page ui-page-theme-a ui-page-active">
  <div class="fullwidth">
    <div class="wrap_section_narrow_top">
      <div class="row">
        <div class="span_s">
          <div class="thumb_small">
            <%= image_tag 'swedish.jpg' %>
          </div>
        </div>
        <div id="topictitle" class="question">
          Patient Encounters
        </div>
      </div>
    </div>
  </div>

  <div class="wrap_section_narrow">
    <div class="spacer">
    </div>
  </div>

  <div class="wrap_section_narrow">
    <table data-role="table" id="patient_encounters_table" class="ui-responsive">
      <thead>
        <tr class="fullwidth">
          <th>Type</th>
          <th>Date</th>
          <th>Resident</th>
          <th>Submitted</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr class="lineitem fullwidth">
            <td><%= patient.encounter_type %></td>
            <td><%= patient.encountered_on %></td>
            <td><%= patient.user.present? ? patient.user.name : "Unknown" %></th>
            <td><%= patient.created_at.to_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Patient', new_patient_path %>
  </div>

  <div class="form-block">
  </div>
  <div class="spacer">
  </div>
</div>



