<!-- Begin Page 1 -->
<div data-role="page" id="form" data-url="form" tabindex="0" style="min-height: 658px;">
  <div class="fullwidth">
    <div class="wrap_section_narrow_top">
      <div class="row ">
        <div class="span_s">
          <div class="thumb_small">
            <%= image_tag 'swedish.jpg' %>
          </div>
        </div>
        <div id="topictitle" class="question">How many patients did you see today?</div>
      </div>
    </div>
  </div>

  <div class="wrap_section_narrow">
    <% flash.each do |name, msg| -%>
      <%= content_tag :p, msg, id: name, class: name %>
    <% end -%>
  </div>

  <% if !current_user %>
    <div class="wrap_section_narrow_top">
      <div class="row ">
        <div><p>You must <%= link_to 'sign in', new_user_session_path, data: {transition: 'flip'} %> to count your encounters.</p></div>
      </div>
    </div>
  <% else %>
    <div class="wrap_section_narrow">
      <div class="spacer">
        <%= date_field_tag(:date, Date.today, onchange: "setEncounteredOn()") %>
      </div>
    </div>

    <div class="wrap_section_narrow">
      <a href="#" data-transition="slide" onclick="incrementEncounterType('adult_inpatient_and_ed')" class="ui-link">
        <div class="lineitem_end">
          <div class="linelabel blockFloat"><strong>Adult:</strong> Inpatient & ED</div>
          <div id="adult_inpatient_and_ed" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <a href="#" data-transition="slide" onclick="incrementEncounterType('adult_icu')" class="ui-link">
        <div class="lineitem">
          <div class="linelabel blockFloat"><strong>Adult:</strong> ICU</div>
          <div id="adult_icu" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <a href="#" data-transition="slide" onclick="incrementEncounterType('pediatric_inpatient')" class="ui-link">
        <div class="lineitem">
          <div class="linelabel blockFloat"><strong>Pediatric:</strong> Inpatient</div>
          <div id="pediatric_inpatient" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <a href="#" data-transition="slide" onclick="incrementEncounterType('pediatric_newborn')" class="ui-link">
        <div class="lineitem">
          <div class="linelabel blockFloat"><strong>Pediatric:</strong> Newborn</div>
          <div id="pediatric_newborn" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <a href="#" data-transition="slide" onclick="incrementEncounterType('pediatric_ed')" class="ui-link">
        <div class="lineitem">
          <div class="linelabel blockFloat"><strong>Pediatric:</strong> ED</div>
          <div id="pediatric_ed" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <a href="#" data-transition="slide" onclick="incrementEncounterType('continuity_inpatient')" class="ui-link">
        <div class="lineitem">
          <div class="linelabel blockFloat"><strong>Continuity:</strong> Inpatient</div>
          <div id="continuity_inpatient" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <a href="#" data-transition="slide" onclick="incrementEncounterType('continuity_external')" class="ui-link">
        <div class="lineitem">
          <div class="linelabel blockFloat"><strong>Continuity:</strong> External</div>
          <div id="continuity_external" class="linenumber gradient_light blockFloatRight">0</div>
        </div>
      </a>
      <div class="form-block">
        <%= render 'form' %>
      </div>
    </div>
    <div class="wrap_section_narrow" style="background-color: none">
      <div id="buttonsLine"class="row">
        <%= submit_tag('Reset', class: 'resetBtnMid blockFloat', onclick: "resetEncounters()") %>
        <div id="totalPatientsBlock">
          <div id="total" class="totalnumber blockFloat">0</div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="spacer2">
  </div>
  <%= render 'layouts/footer' %>
</div>
<!-- End Page 1 -->
