<!-- Begin Page 1 -->
<div data-role="page" id="show">
  <p id="notice"><%= notice %></p>

  <% if policy(@patient).show? %>
  <p>
    <strong>Encounter Type:</strong>
    <%= @patient.encounter_type %>
    <strong>Encountered On:</strong>
    <%= @patient.encountered_on %>
    <strong>Doctor:</strong>
    <%= @patient.user.present? ? @patient.user.name : "Unknown" %>
  </p>
  <% else %>
    <p>You are not authorized to view this encounter.</p>
  <% end %>

  <% if policy(@patient).edit? %>
    <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <% end %>
  <%= link_to 'Back', patients_path %>

  <%= render 'layouts/footer' %>
</div>
<!-- End Page 1 -->
