<div data-role="page" data-dialog="true" data-close-btn-text="X" data-no-transition-cache>
  <!-- data-close-btn-text="X" Will this attribute show an X in IE8 -->
  <div data-role="header">
    <h2>Sign in</h2>
  </div><!-- /header -->

  <%= render 'layouts/flash_messages' %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {ajax: false}) do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br />

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me, data: {mini: true} %>
        <%= f.label :remember_me %>
      </div>
      <br />
    <% end -%>

    <div>
      <%= f.button "Sign in" %>
    </div>
  <% end %>

  <div style="text-align:center; padding: .5em;">OR</div>

  <%= render "devise/shared/buttons" %>
</div>


