<div data-role="page" data-dialog="true" data-no-transition-cache>
  <div data-role="header">
    <h2>Sign in</h2>
  </div><!-- /header -->
  <% if flash %>
    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert" class="alert"><%= alert %></p>
  <% end  %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {ajax: false}) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <!-- <div><%# f.submit "Sign in" %></div> May need to revert for older browsers!-->
    <div><%= f.button "Sign in" %></div>
  <% end %>

  <div style="text-align:center">OR</div>

  <%= render "devise/shared/links" %>

  <script>
    $(document).ready( function() {
      $('div[role="dialog"] a').addClass('ui-btn ui-corner-all');
      $('div[role="dialog"] br').remove();
    });
  </script>

</div>


