<!DOCTYPE html>
<html>
  <head>
    <title>Encounter Counter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'swedish.jpg' %>
    <%= favicon_link_tag 'swedish.jpg', rel: 'apple-touch-icon', type: 'image/jpeg' %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="The Encounter Counter allows resident physicians to quickly
    and efficiently record a daily count of each type of patient encounter.">

    <script>
      $(document).bind("mobileinit", function () {
        $.mobile.changePage.defaults.changeHash = false;
        $.mobile.minScrollBack = 0;
        $.mobile.ajaxEnabled = false;
        $.mobile.linkBindingEnabled = true;
        $.mobile.hashListeningEnabled = true;
        $.mobile.pushStateEnabled = false;
      });
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
